body {
    margin: 0;
}

.wrapper{
    width:100%;
}

.center {
    padding-top: 100px;
    margin: auto;
    width: 38%;

}

img{
    display: inline-block;
    padding: 0px;
    margin: 0px;

    float:right;
}

.line {
    display: flex;
    flex-direction: row;
}

#a1 {
    height: 150px;
    width: 150px;
    border-bottom: solid #E5BD5B 3px;
    border-right: solid  #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#a2 {
    height: 150px;
    width: 150px;
    border-bottom: solid #E5BD5B 3px;
    border-left: solid #E5BD5B 3px;
    border-right: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#a3 {
    height: 150px;
    width: 150px;
    border-bottom: solid #E5BD5B 3px;
    border-left: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#b1 {
    height: 150px;
    width: 150px;
    border-bottom: solid #E5BD5B 3px;
    border-right: solid #E5BD5B 3px;
    border-top: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#b2 {
    height: 150px;
    width: 150px;
    border: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#b3 {
    height: 150px;
    width: 150px;
    border-bottom: solid #E5BD5B 3px;
    border-left: solid #E5BD5B 3px;
    border-top: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

#c1 {
    height: 150px;
    width: 150px;
    border-top: solid #E5BD5B 3px;
    border-right: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}
#c2 {
    height: 150px;
    width: 150px;
    border-top: solid #E5BD5B 3px;
    border-left: solid #E5BD5B 3px;
    border-right: solid #E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}
#c3 {
    height: 150px;
    width: 150px;
    border-top: solid#E5BD5B 3px;
    border-left: solid#E5BD5B 3px;
    display: inline-block;
    margin: 0px;
}

.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #053354;
    height: 40px;
    width: 70px;
    border: solid #184969 3px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 400px;
}
.button2 { 
    margin-left: 10px;
}
